@use "sass:color";


/// Under pad width (1024px).
@mixin pad {
	@media (max-width: 1024px) {
		@content;
	}
}


/// Under phone width (768px).
@mixin phone {
	@media (max-width: 768px) {
		@content;
	}
}


/// Under specified width.
@mixin mw($width) {
	@media (max-width: $width) {
		@content;
	}
}


/// Under specified container width.
@mixin mcw($width) {
	@container (min-width: $width) {
		@content;
	}
}


/// When touch-primary device.
@mixin touch() {
	@media (pointer: coarse) {
		@content;
	}
}


/// When in mouse-primary device.
@mixin mouse() {
	@media (hover: hover) {
		@content;
	}
}


/// Disable user selection, include touch hold selection.
@mixin non-select {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	touch-action: none;
}



/// Adjust a color to return `light-dark(color, dark)`, and adjust
/// the dark color by adjusting light and saturation.
@function adaptive(
	$color,
	$l: 20%,
	$s: -10%
) {
	@return light-dark($color, color.scale(
		$color,
		$lightness: $l,
		$saturation: $s
	));
}


/// Mixes two colors.
/// $weight is the percentage of the first color.
@function mix(
	$foreground,
	$background,
	$weight
) {
	@return color-mix(in srgb,
		$foreground $weight,
		$background
	);
}