@use './mixin' as *;


// Theme variables. see https://css-tricks.com/come-to-the-light-dark-side/
:root{
	color-scheme: light dark;

	--text-size: 14px;
	--border-radius: 4px;
	--focus-shadow-blur-radius: 4px;
	
	--primary-color: ActiveText;
	--text-color: CanvasText;
	--heading-color: CanvasText;
	--border-color: light-dark(#808080, #888);

	--background: light-dark(white, #333);
	--input-background: light-dark(#e7e7e7, #444);

	--switch-background: light-dark(#ddd, #444);
	--switch-width: 2em;
	--switch-height: 1.25em;
	--switch-border-width: 0;

	--slider-groove-size: 1px;
	--slider-ball-size: 15px;

	--popup-background: light-dark(white, #333);
	--popup-border-radius: 4px;
	--popup-border-width: 0;
	--popup-shadow-color: light-dark(rgba(0, 0, 0, 0.5), black);
	--popup-shadow-blur-radius: 6px;
	
	--info-color: #{adaptive(#3369fa)};
	--success-color: #{adaptive(#29bc04)};
	--error-color: #{adaptive(#e10000)};
	--warning-color: #{adaptive(#f3b907)};


	// Mixed, normally no need to overwrite them.
	// Note that if one element overwritten a color,
	// mixed color is not affected within that element.
	--info-background: color-mix(in srgb, var(--info-color) 5%, var(--background));
	--success-background: color-mix(in srgb, var(--success-color) 5%, var(--background));
	--error-background: color-mix(in srgb, var(--error-color) 5%, var(--background));
	--warning-background: color-mix(in srgb, var(--warning-color) 5%, var(--background));

	--switch-background-selected: color-mix(in srgb, var(--switch-background) 50%, var(--primary-color));
	
	--rect-selection-background: color-mix(in srgb, var(--primary-color) 10%, transparent);

	--text-color-muted: color-mix(in srgb, var(--text-color) 90%, var(--background));
	--text-color-subtle: color-mix(in srgb, var(--text-color) 80%, var(--background));
	--text-color-faint: color-mix(in srgb, var(--text-color) 70%, var(--background));

	--border-color-bolder: color-mix(in srgb, var(--border-color) 75%, var(--text-color));
	--border-color-bold: color-mix(in srgb, var(--border-color) 50%, var(--text-color));
	--border-color-light: color-mix(in srgb, var(--border-color) 50%, var(--background));
	--border-color-lighter: color-mix(in srgb, var(--border-color) 25%, var(--background));
	--border-color-lightest: color-mix(in srgb, var(--border-color) 12.5%, var(--background));
	--border-color-selected: color-mix(in srgb, var(--primary-color) 50%, var(--border-color));

	--hover-background: color-mix(var(--text-color) 5%, transparent);
	--hover-background-bold: color-mix(var(--text-color) 10%, transparent);

	--selected-background-light: color-mix(var(--primary-color) 4%, transparent);
	--selected-background: color-mix(var(--primary-color) 8%, transparent);
	--selected-background-bold: color-mix(var(--primary-color) 16%, transparent);
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:focus{
	outline: none;
}



::-webkit-scrollbar{
	height: 8px;
	width: 8px;
	background: mix(var(--background), var(--text-color), 95%);
}

::-webkit-scrollbar-thumb{
	background: mix(var(--background), var(--text-color), 80%);
}

::-webkit-scrollbar-thumb:hover{
	background: mix(var(--background), var(--text-color), 70%);
}

::-webkit-scrollbar-thumb:active{
	background: mix(var(--background), var(--text-color), 60%);
}

@supports not selector(::-webkit-scrollbar) {
	*{
		scrollbar-width: thin;
		scrollbar-color: mix(var(--background), var(--text-color), 96%)
		                 mix(var(--background), var(--text-color), 85%);
	}
}



html{
	height: 100%;
	tab-size: 4;
	font-size: var(--text-size);
	color: var(--text-color);
	line-height: 1.6;

	// Not adjust character width.
	text-size-adjust: none;
}

body{

	// Disables tap highlight on apple mobile devices.
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

ul{
	list-style-type: none;
}

hr{
	height: 1px;
	border: none;
}

img, iframe{
	border: none;
}

input, select, button, textarea, table, optgroup, pre{
	font-size: inherit;
	font-family: inherit;
	color: inherit
}

input, select, button, textarea, label, img, svg{
	vertical-align: top;
}

// For ios safari.
input, select, button, textarea{
	border-radius: 0;
}

button{
	cursor: pointer;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6{
	color: var(--heading-color);
}


[hidden]{
	display: none !important;
}

[disabled]{
	opacity: 0.4;
	cursor: not-allowed !important;
	pointer-events: none;

	& [disabled]{
		opacity: 1;
	}
}
